<!DOCTYPE html>
<html lang="en">
    <head>
        <title>To-do list</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
      <div class="fullscreen">
        <div class="biggerpicture">
         <a href="about.html"><img src="LOGO.png" alt="LOGO"></a>
         <div class="smallerPicture1" style="padding: 20px">
         The web app is under the development. This is just a beginner project.
         So I think in the next 3 weeks, the team behind this web app, will
         be adding more complicated features.
         The author of the web app is Avazbek Isroilov.
         <p></p>
         <a href="to-do-list.html">To the main page</a>
        </div>
        </div>
        </div>
    </body>
</html>