<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to To-Do</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class="fullscreen">
           <div class="biggerpicture">
                <a href="about.html"><img src="/static/LOGO.png" alt="LOGO"></a>
                <div class="smallerPicture">
                    <h1>LOGIN FAILURE</h1>
                    <a href = "/"><h2>Retry</h2></a>
                    <h3>Not have an account?</h3>
                    <a href = "/register"><h3>REGISTER</h3></a>
                </div>
            </div>
        </div>
    </body>
</html>
