<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to To-Do</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <div class="biggerpicture">
            <a href="about.html"><img src="static/LOGO.png" alt="LOGO"></a>
            <div class="smallerPicture">
                <h1>Welcome</h1>
                <h3>If you are aiming to boost your productivity, you are in the right place.</h3>
                <p>LOGIN</p>
                <form class="login" action="/" method = "post">
                   <input name="username" placeholder= "Email or username">
                   <p></p>
                   <input type='password' name='user_password' placeholder="Password">
                   <p></p>
                   <input type='submit' value='Submit!'>
                   <p></p>
                   <p>Don't have an account. <a href="/register">Register</a></p>
               </form>
            </div>
        </div>
    </body>
</html>
