<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/css/main.css" type="text/css"
charset="utf-8">
        <title>Welcome to To-Do</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <p>If you are aiming to boost your productivity, you are in the right place.</p>
        <p>LOGIN</p>
        <form action='nextpage'>
          <label><input name = "username" placeholder= "Email or username"></label>
          <p></p>
          <label><input type = 'password' name = 'user_password' placeholder = "Password"></label>
          <p></p>
          <input type = 'submit' value = 'Submit!'>
          <p></p>
          <p>Don't have an account. <a href="register.html">Register</a></p>
        </form>
    </body>
</html>
