<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="static/styles.css">
        <script src='static/js/jquery-3.6.0.js'></script>
        <script src='static/js/registration.js'></script>
    </head>
    <body>
        <div class="fullscreen">
            <div class="biggerpicture">
                <a href="about.html"><img src="/static/LOGO.png" alt="LOGO"></a>
            <div class="smallerPicture">
            <h1>Sign-Up</h1>
            <div id = "errors"></div>
            <div class="area_for_form">
                <form class="register" action='/register' id ="form" method="post">
                    <label><input name = "name" placeholder= "Name"></label>
                    <label><input name = "surename" placeholder = "Surname"></label>
                    <label><input name = "username" placeholder= "Username"></label>
                    <label><input name = "email" placeholder = "Email"></label>
                    <label><input type = "password" name = 'user_password' placeholder = "Choose password"></label>
                    <div class="selection">
                        <label>Select your title <select name = 'title'>
                            <option value = 'Dr'>Dr</option>
                            <option value = 'Mr'>Mr</option>
                            <option value = 'Miss'>Miss</option>
                        </select></label>
                    </div>
                    <p></p>
                    <input type = 'submit' class="submit" value = 'Submit!'>
                </form>
            </div>
        </div>
        </div>
        </div>
    </body>
</html>
