<!DOCTYPE html>
<html lang="en">
    <head>
        <title>To-do list</title>
        <link rel="stylesheet" href="/static/styles.css">
        <script src='static/js/jquery-3.6.0.js'></script>
        <script src='static/js/todo.js'></script>
    </head>
    <body>
        {% for k, v in value.items() %}
          <div style="display: inline block">
            <div id = "wrapper">
              <h2>List: {{ k }}</h2>
              <ul>
                {% for item in v %}
                  <li class='{{ item }}'>{{ item }}</li>
                  <button class="button" id='{{ item }}'>complete</button>
                {% endfor %}
              </ul>
              <form action="/toDoList" class="inline" method="post">
                <input type='hidden' name='list' value='{{ k }}'>
                <label><input name = "nameItem" placeholder= "Name"></label>
                <p></p>
                <button class="float-left submit-button">New List Item</button>
              </form> 
            </div>
          </div>  
        {% endfor %}  
      <form action="/newlist" class="inline">
        <button class="float-left submit-button">New List</button>
      </form>  
    </body>
</html>
