<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Successfully Registered</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="fullscreen">
       <div class="biggerpicture">
        <a href="about.html"><img src="LOGO.png" alt="LOGO"></a>
        <div class="smallerPicture" style="padding: 20px">
           <h3>You have successfully registered!!!!!</h3>
           <p></p>
           <p>Start planning your day. <a href="to-do-list.html">Plan your day</a></p>
       </div>
       </div>
       </div>
    </body>
</html>
